body {
    font: 25px "Century Gothic", Futura, sans-serif;
    margin: 55px;
    font-style: italic;
    background-color: lightslategrey;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 20px;
  }
  
  .square {
    background: lightyellow;
    border: 2px solid black;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
    height: 45px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 45px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  npm
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  